<h1>New Cuisine</h1>

<%= render partial: 'layouts/errors', locals: {object: @cuisine} %>

<%= form_with(model: [:admin, @cuisine], local: true) do |f| %>
    <%= f.label("Cuisine Name:") %><br>
    <%= f.text_field(:name) %> <br>
    <br><br>
    <h3>New Restaurant For this New Cuisine: </h3>
    <%= f.fields_for :restaurants do |r|%>
        <%= f.label :image %><br>
        <%= f.text_field :image_url %><br><br>
        <%= r.label("Name:") %><br>
        <%= r.text_field(:name) %><br><br>
        <%= r.label("Vegan Options:") %><br>
        <%= r.text_area(:options) %><br><br>
        <%= r.label("Source:") %><br>
        <%= r.text_field(:source) %><br><br>
    <% end %>
    <%= f.submit %>
<% end %>