
<center>
<br><br>
<div class="bigbox">
<h2>Log In Page</h2>
<%=form_with url: '/login', method: :post do |f|%>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
    <br><br>
    <%= f.label :password %> (5 characters minimum) <br>
    <%= f.password_field :password %> 
    <br><br>
    <%= f.submit "Log In" %>
<% end %>

<br>

<%= button_to "Log in with Facebook", '/auth/facebook' %><br>
<h4> Don't have an account?
<button><%= link_to "Create Account", signup_path %></button><br><br>
<%= link_to 'Back to Homepage', root_path %>
</div></div>
</center>
