
<h1>Welcome, <%= @user.username %> ! </h1><br>
<p><strong>Your Email: </strong> <%= current_user.email %><br></p>
<br>


<ol>
<div>
<h2> Your Reviewed Restaurants: </h2><br>
<% @user.reviewed_restaurants.each do |r| %>
    <%= link_to "#{r[:name]}", restaurant_path(r)%><br>
<%end%>
</div>
</ol>

<br><br>
<% if current_user == @user %>
<%= link_to "Edit Your Account", edit_user_path %> <br><br>
<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "You sure?" } %>
<% end %>