<br><br><br>
<div class="bigbox">
  <div class="box1">
  <br>
  <h2><strong><u><%= @restaurant.name %></u></strong></h2>
  <p><img src="<%= @restaurant.image_url %>" height="200" width="270"></p>
  <p><strong>Vegan Options:</strong> <%= @restaurant.options %></p><br>
  <p><strong>Info Source:</strong> <%= @restaurant.source %></p><br>
  <p><strong>Cuisine: </strong><%= @restaurant.cuisine.name %></p>
  <h6><p><strong>Updated at: </strong> <%= @restaurant.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></p></h6><br>
  <%= link_to 'Edit', edit_admin_restaurant_path(@restaurant) %>
  <%= link_to 'Back', admin_restaurants_path %>
  </div>
</div>
