<br><br><br>
<div class="bigbox">
  <div class="box1">
  <br>
  <h2><strong><u><%= @restaurant.name %></u></strong></h2>
  <p><img src="<%= @restaurant.image_url %>" height="200" width="270"></p>
  <p><strong>Vegan Options:</strong> <%= @restaurant.options %></p><br>
  <p><strong>Info Source:</strong> <%= @restaurant.source %></p><br>
  <p><strong>Cuisine: </strong><%= @restaurant.cuisine.name %></p>
  <h6><p><strong>Updated at: </strong> <%= @restaurant.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></p></h6><br>
  <%= link_to 'Back', restaurants_path %>
  </div>
</div>
<br>
<div>
<h3>Reviews</h3>
<%= form_for @review do |f| %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  <%= f.text_area :content, placeholder: 'Add your review here', class: 'form-control' %>
  <br />
  <%= f.submit 'Post Your Review', class: 'btn btn-custom' %>
<% end %>
<br />
<%= display_reviews %>
</div>