
<div class="bigbox">
  <div class="box1">
  <br>
  <h2><strong><u><%= @restaurant.name %></u></strong></h2>
  <p><img src="<%= @restaurant.image_url %>" height="200" width="270"></p>
  <p><strong>Vegan Options:</strong> <%= @restaurant.options %></p><br>
  <p><strong>Info Source:</strong> <%= @restaurant.source %></p><br>
  <p><strong>Cuisine: </strong><%= @restaurant.cuisine.name %></p>
  <h6><p><strong>Updated at: </strong> <%= @restaurant.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></p></h6><br>
  <%= link_to 'Back', restaurants_path %>
  </div>
</div>
<br>
<div>
  <hr />
  <h3>Share your thoughts</h3>
  <h3><%= link_to 'Write a Review', new_restaurant_review_path(@restaurant) %></h3>
  <br>
  <hr />
  <div>
  <%= render partial: "reviews/index" %>
  </div>
  <%= display_reviews %>
  
</div>
