<p>
  <%= @restaurant.image_url %>
</p>
<br>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Vegan Options:</strong>
  <%= @restaurant.options %>
</p>

<p>
  <strong>Source:</strong>
  <%= @restaurant.source %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine.name%>
</p>

<%= link_to 'Back', restaurants_path %>