<div class="center jumbotron">

<center><h1>Welcome to VeganNiche</h1>

<center><h4>
    A space to find vegan options you can order at non-vegan restaurants
  </h4>

  <br>
  <br>

  <button><%= link_to "Log In", login_path %></button></br><br>
  <%= button_to "Log in with Facebook", '/auth/facebook' %>
  <br>
  <button><%= link_to "Create Account", signup_path %></button>

  <br>
  <br>

<center><%= image_tag("sushi.jpg", :size => "860x580") %>
<center><%= render 'layouts/footer' %>

</div>